.navButton{
    background-color: #181926;
    color: #dce0e8; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    margin: 5px;
}

.navButton:hover {
    background-color: #232634; 
}

.submitButton {
    background-color: #181926;
    color: #dce0e8; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    margin-top: 10px;
}

textarea {
    background-color: #24273a;  
    width: 300px;
    height: 100px;
    resize: none;
    font-size: 13px;
    padding: 10px;
}