<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT - Sobre</title>
    <meta name="description" content="Curso Técnico em Internet das Coisas integrado ao Ensino Médio - CTISM">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="header-container">
        <a href="index.html"><img src="../static/assets/images/IoT-logo.png" alt="Logo"></a>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">Sobre</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
        </nav>
        <a href="#login" class="login-button">Login</a>
        </div>
    </header>

    <main>
        <section>
            <h1>Interessado em seguir rumo nessa carreira ??</h1>
            <h2>Abaixo contamos tudo que precisa saber sobre o curso</h2>
            <img src="../static/assets/images/setas-para-baixo.png" alt="Setas para baixo" class="setas">
            <img src="../static/assets/images/start-background.png" alt="Background Image" class="main-image">
        </section>
        <section>
            <h2>O que é IoT?</h2>
            <p>IoT, ou Internet das Coisas, refere-se à interconexão de dispositivos físicos, veículos, edifícios e outros itens incorporados com eletrônica, software, sensores e conectividade de rede. Esses dispositivos podem coletar e trocar dados, permitindo automação, monitoramento remoto e controle inteligente. Exemplos comuns de IoT incluem casas inteligentes, cidades inteligentes, dispositivos vestíveis e sistemas industriais conectados.</p>
        </section>
    </main>

    <footer>
        <p>
            Desenvolvido por:
            <a href="https://github.com/benibgw" target="_blank">Benicio Wendt</a> e
            <a href="https://github.com/N4than-Rossi" target="_blank">Nathan Rossi</a>
        </p>
        <p>
            &copy; 2025 IoT &ndash; CTISM.
        </p>
    </footer>
</body>
</html>