<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT - Home</title>
    <meta name="description" content="Curso Técnico em Internet das Coisas integrado ao Ensino Médio - CTISM">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="header-container">
        <a href="index.html"><img src="../static/assets/images/IoT-logo.png" alt="Logo"></a>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">Sobre</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
        <a href="#login" class="login-button">Login</a>
        </div>
    </header>
    
    <main>
        <section>
            <h1>IoT - CTISM</h1>
            <h2>O novo curso do CTISM</h2>
            <p>Preparando jovens para um futuro tecnológico.</p>
            <a href="about.html" class="button">Sobre</a>
            <img src="../static/assets/images/start-background.png" alt="Background Image" class="main-image">
        </section>
    </main>
    
    <footer>
        <p>
            Desenvolvido por:
            <a href="https://github.com/benibgw" target="_blank">Benicio Wendt</a> e
            <a href="https://github.com/N4than-Rossi" target="_blank">Nathan Rossi</a>
        </p>
        <p>
            &copy; 2025 IoT &ndash; CTISM.
        </p>
    </footer>
</body>
</html>