<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT_WebSite</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
    <header>
        <div>
            <nav>
                <button class="navButton">Home</button>
                <button class="navButton">Matérias</button>
                <button class="navButton">Noticias</button>
                <button class="navButton">Blog</button>
                <button class="navButton">login</button>
            </nav>
            <img src="..\static\assets\images\IoT-logo.png" height="100px" alt="IoT-logo">
        </div>
    </header>
    <main>
        <div>
            <h1><strong>IoT</strong> o mais novo curso do CTISM</h1>
            <h4>Preparando jovens para um novo futuro, um futuro tecnológico.</h3>
        </div>
        <div>
            <h2>A conexão em nosso cotidiano</h2>
            <p>A IoT é a conexão de objetos físicos à internet e a outros objetos.
                Permitindo que as coisas se comuniquem, interajam entre si
                e atuem de maneira automática, podendo ser essas “coisas” qualquer objeto do nosso cotidiano.</p>
        </div>
        <div>
            <h2>Uma inovação tecnológica</h2>
            <p>--explicar aqui o porquê da criação do curso--</p>
        </div>
        <div>
            <h2>Você também pode fazer parte</h2>
            <p>Se você é apaixonado por tecnologia, inovação e quer 
                fazer parte dessa transformação digital, este curso é para você!<br>
                Ao fim do curso você será capacitado à:
                <ul>
                    <li>Desenvolver e gerenciar dispositivos conectados</li>
                    <li>Implementar soluções tecnológicas</li>
                    <li>Analisar e interpretar dados</li>
                </ul>
            </p>
        </div>
        <div>
            <h2>Entre em contato conosco</h2>
            <p>Ficou interessado no curso? Têm alguma dúvida? Gostaria de dar um feedback?</p>
            <form>
                <label for="mensagem">Nôs mande uma mensagem (sobre qualquer assunto), vamos respondê-la:</label><br>
                <textarea id="mensagem" name="mensagem" rows="4" cols="40" placeholder="Digite sua mensagem aqui"></textarea><br>
                <button class="submitButton">Enviar</button>
            </form>
            
        </div>
    </main>
    <footer>
        <p>Desenvolvido por: <a href="https://github.com/N4than-Rossi">Nathan Rossi</a> e <a href="https://github.com/benibgw">Benício Wendt</a></p>
        <p>&copy; 2025 IoT &ndash; Meu site da IoT</p>
    </footer>
</body>
</html>