<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matérias</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
    <header>
        <a href="index.html"><img src="..\static\assets\images\IoT-logo.png" height="100px" alt="IoT-logo"></a>
        <div class="nav_area">
            <nav>
                <a href="index.html"><button class="nav_button">Home</button></a>
                <a href="materias.html"><button class="nav_button"><u>Matérias</u></button></a>
                <a href="#"><button class="nav_button">Noticias</button></a>
                <a href="#"><button class="nav_button">Blog</button></a>
                <a href="#"><button class="nav_button">Contact</button></a>
            </nav>
        </div>
        <div>
            <a href="#"><button class="nav_button login_button">login</button></a>
        </div>
    </header>
    <main>
        <div class="div_inicio">
            <h1>Matérias</h1>
            <h2>Introdução às matérias</h2>
            <h3>Matérias do curso:</h3>
            <ul>
                <li>Algoritmos e Programação</li>
                <li>Fundamentos de Automação</li>
                <li>Circuitos Elétricos e Eletrônica</li>
                <li>Projetos Mecânicos com auxilio de Computador</li>
                <li>...</li>
            </ul>
            <img src="..\static\assets\images\start-background.png">
        </div>
        <div class="div_texto">
            <h1>Detalhes das matérias</h1>
            <h2>Aqui está tudo que você precisa saber sobre cada matéria</h2>
        </div>
        <div class="div_materias">
            <h2>Algoritmos e Programação</h2>
            <img src="..\static\assets\images\Algoritmos.jpg" alt="Algoritmos e Programação" width="300px">

        </div>
    </main>
    <footer>
        <p>Desenvolvido por: <a href="https://github.com/N4than-Rossi">Nathan Rossi</a> e <a href="https://github.com/benibgw">Benício Wendt</a></p>
        <p>&copy; 2025 IoT &ndash; Meu site da IoT</p>
    </footer>
</body>
</html>